
<div class="row">
  <div class="col-3 offset-3">
    <span>From:</span>
    <p-calendar [(ngModel)]="dateFrom"
                [showTime]="true"
                [minDate]="dateMin"
                [maxDate]="dateMax"
                [style]="{ 'margin-left': '10px' }"
                (onClose)="fetchClustersAndUpdateOverlay()"></p-calendar>
  </div>
  <div class="col-3">
    <span>To:</span>
    <p-calendar [(ngModel)]="dateTo"
                [showTime]="true"
                [minDate]="dateMin"
                [maxDate]="dateMax"
                [style]="{ 'margin-left': '10px' }"
                (onClose)="fetchClustersAndUpdateOverlay()"></p-calendar>
  </div>
</div>
<div style="display: flex; align-items: center; justify-content: center;">
  <p-gmap [options]="options"
          [overlays]="overlays"
          [style]="{ 'width':'1000px', 'height':'640px' }"
          (onMapReady)="setMap($event)">
  </p-gmap>
  <div *ngIf="isLoading" style="position: absolute;">
    <p-progressSpinner></p-progressSpinner>
  </div>
</div>
<div class="row">
  <div class="col-4 offset-4">
    <p>
      1. Clusters show trip(pickup) counts.
    </p>
    <p>
      2. Individual makers show passenger count.
    </p>
  </div>
</div>
